<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>电子运单系统</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    </head>
    <body style="font-size:8px; margin: 0;">
        <div style="margin:0" id="yd" class="ddr">
            <style>
            #yd .font-weight {
                font-weight: bolder;
                text-align: left;
                border-right: 1px solid #555;
            }

            #yd td {
                padding: 3px;
            }

            .div2 {
                height: 30px;
                position: absolute;
                top: 120px;
                z-index: 8;
                left: 20%;
            }


        </style>
        <!--    <a class="layui-btn layui-btn-primary" href="javascript:mobilePdf();"><font color="#01AAED">下载PDF文件</font></a>&nbsp;&nbsp;-->
        <!--    <a href="javascript:doPrint();" class="layui-btn layui-btn-primary print_table"><font color="#01AAED">打印</font></a>-->
             <div class="ddr" style="margin-top: 20px;margin-right: 10px;margin-left: 10px">
            <!--startprint-->
            <!--        <div class="div2"><img src="/img/yinzhang.png" border="0" width="160px;" height="160px;"></div>-->
            <div id="sealdiv" class="div2">
<!--                <canvas id="canvas" width="160" height="160"></canvas>-->
                <img th:src="@{${yd.electronicSealI}}" border="0" width="100px;height=100px;">
            </div>


                 <table style="border-collapse:collapse;margin-right: 10px" border="1" width="110%" cellspacing="0"
                   cellpadding="1">
                <tr>
                    <td colspan="7" align="center" style="font-weight:bolder;text-align:center;">危险货物道路运输运单</td>
                </tr>
                <tr>
                    <td th:text="运单编号 + '：'+${yd.waybillCode}" colspan="7" style="text-align:center;text-align:left;">
                        运单编号：371400003520071300056274
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" style="text-align:center;text-align:center;">托运人</td>
                    <td style="text-align:center;text-align:center;">名称</td>
                    <td th:text="${yd.shipperName}" colspan="2">中石化天津</td>
                    <td rowspan="2" style="text-align:center;text-align:center;">收货人</td>
                    <td style="text-align:center;text-align:center;" width="40">名称</td>
                    <td th:text="${yd.shiptoName}"> 闫升化</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.shipperPhone}" colspan="2">15032208852</td>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.shiptoPhone}">13630868852</td>
                </tr>
                <tr>
                    <td rowspan="2" style="text-align:center;text-align:center;">装货人</td>
                    <td style="text-align:center;text-align:center;">名称</td>
                    <td th:text="${yd.shipmentName}" colspan="2"> 李刚磊</td>
                    <td style="text-align:center;text-align:center;">起运日期</td>
                    <td th:text="${yd.shipmentStarttime}" colspan="2">2020-07-13</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.shipmentPhone}" colspan="2"> 18925556666</td>
                    <td style="text-align:center;text-align:center;">起运地</td>
                    <td th:text="${yd.shipmentFromAddress}" colspan="2"> 济南</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">目的地</td>
                    <td th:text="${yd.shipmentToAddress}" colspan="4"> 沧州</td>
                    <td colspan="2" style="text-align:center;text-align:left;"><input id="cityExpress" type="checkbox"
                                                                                      disabled="disabled">城市配送
                    </td>
                </tr>
                <tr>
                    <td rowspan="8" style="text-align:center;text-align:center;">承运人</td>
                    <td style="text-align:center;text-align:center;">单位名称</td>
                    <td id="carriage_name" th:text="${yd.carriageName}" colspan="2">山东易罐云物流有限公司</td>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.carriagePhone}" colspan="2">18053407653</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">许可证号</td>
                    <td th:text="${yd.carriageLicensekey}" colspan="5"> 371401000035</td>
                </tr>
                <tr>
                    <td rowspan="2" style="text-align:center;text-align:center;">车辆信息</td>
                    <td style="text-align:center;text-align:center;">车牌号码(颜色)</td>
                    <td th:text="|${yd.licensePlateNum}(${yd.licensePlateColor})|">鲁NE8899(黄牌)</td>
                    <td rowspan="2" style="text-align:center;text-align:center;">挂车信息</td>
                    <td style="text-align:center;text-align:center;">车牌号码</td>
                    <td th:text="${yd.trailerNum}">鲁NE5522挂</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">道路运输证号</td>
                    <td th:text="${yd.roadTransportPermitNum}">3216541265456</td>
                    <td style="text-align:center;text-align:center;">道路运输证号</td>
                    <td th:text="${yd.trailerRoadRansportPermit}">313216921322</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">罐体信息</td>
                    <td style="text-align:center;text-align:center;">罐体编号</td>
                    <td th:text="${yd.canbodyNum}" colspan="2">5131325321</td>
                    <td style="text-align:center;text-align:center;">罐体容积</td>
                    <td th:text="${yd.canbodyVolume}">36</td>
                </tr>
                <tr>
                    <td rowspan="3" style="text-align:center;text-align:center;">驾驶员</td>
                    <td style="text-align:center;text-align:center;">姓名</td>
                    <td th:text="${yd.driverName}">杜立辉</td>
                    <td rowspan="3" style="text-align:center;text-align:center;">押运员</td>
                    <td style="text-align:center;text-align:center;">姓名</td>
                    <td th:text="${yd.escortName}">34531561222</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">从业资格证</td>
                    <td th:text="${yd.driverCertificate}">3714221999999</td>
                    <td style="text-align:center;text-align:center;">从业资格证</td>
                    <td th:text="${yd.escortCertificate}">34531561222</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.driverPhone}">15668321122</td>
                    <td style="text-align:center;text-align:center;">联系电话</td>
                    <td th:text="${yd.escortPhone}">15822335555</td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">货物信息</td>
                    <td th:text="|UN: ${yd.unNum}, ${yd.goodsName},${yd.goodsType},${#strings.substring(yd.goodsPackingType,0,#strings.indexOf(yd.goodsPackingType,'类')+1)},${yd.goodsPackingNorms},${yd.goodsNum} ,${yd.goodsCompany}|"
                        style="text-align:center;text-align:center;" colspan="6">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;text-align:center;">备注</td>
                    <td th:text="${yd.remarks}" colspan="4">-</td>
                    <td colspan="2" valign="middle" align="center" class="img-w" id="qrcode">
                        <!--                    <img id="imagesqrcode" width="60" height="60"></td>-->
                        <div id="imagesqrcode" width="60" height="60"></div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;" colspan="2">调度人:</td>
                    <td th:text="${yd.dispatcherName}" colspan="2">李明</td>
                    <td colspan="2" style="text-align:left;">调度日期:</td>
                    <td th:text="${yd.dispatcherDate}">2020-07-13</td>
                </tr>
            </table>

            <!--endprint--></div>
    </div>
<!--        <script src="/js/jquery.js"></script>-->
        <!--        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
        <!--        <script src="/js/html2canvas.js"></script>-->
        <script src="/js/qrcode.min.js"></script>
        <script th:inline="javascript">

            let url = ''

            // function getlianjie() {
            //     // url = '/waybill/qrimage?codestr=' + window.location.href
            //     // document.getElementById('imagesqrcode').src = url
            //     // console.log(url)
            //     // return window.location.href;
            //
            //     var qrcode = new QRCode(document.getElementById('imagesqrcode'),{
            //         text: window.location.href,
            //         width: 128,
            //         height: 128,
            //         colorDark : "#000000",
            //         colorLight : "#ffffff",
            //         correctLevel : QRCode.CorrectLevel.H
            //     });
            //
            //
            // }
            //
            // getlianjie()

            var qrcode = new QRCode(document.getElementById("imagesqrcode"), {
                width: 100,
                height: 100,
                correctLevel: QRCode.CorrectLevel.H
            });

            function makeCode() {
                var elText = window.location.href;
                var url1 = getQueryVariable("nsukey")
                if (url1) {
                    elText = elText.substring(0, elText.lastIndexOf("&"))
                }

                if (!elText) {
                    alert("Input a text");
                    elText.focus();
                    return;
                }

                qrcode.makeCode(elText);
            }

            makeCode();

            // $("#text").
            // on("blur", function () {
            //     makeCode();
            // }).
            // on("keydown", function (e) {
            //     if (e.keyCode == 13) {
            //         makeCode();
            //     }
            // });

            //
            // //转pdf文件
            // function doPrint() {
            //     bdhtml = window.document.body.innerHTML;
            //     sprnstr = "<!--startprint-->";
            //     eprnstr = "<!--endprint-->";
            //     prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
            //     prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
            //     window.document.body.innerHTML = prnhtml;
            //     window.print();
            // }
            //
            // function mobilePdf() {
            //     var target = document.getElementsByClassName("ddr")[0];
            //     target.style.background = "#FFFFFF";
            //
            //     html2canvas(target, {
            //         onrendered: function (canvas) {
            //             var contentWidth = canvas.width;
            //             var contentHeight = canvas.height;
            //
            //             //一页pdf显示html页面生成的canvas高度;
            //             var pageHeight = contentWidth / 592.28 * 841.89;
            //             //未生成pdf的html页面高度
            //             var leftHeight = contentHeight;
            //             //页面偏移
            //             var position = 0;
            //             //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
            //             var imgWidth = 595.28;
            //             var imgHeight = 592.28 / contentWidth * contentHeight;
            //
            //             var pageData = canvas.toDataURL('image/jpeg', 1.0);
            //
            //             var pdf = new jsPDF('', 'pt', 'a4');
            //
            //             //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
            //             //当内容未超过pdf一页显示的范围，无需分页
            //             if (leftHeight < pageHeight) {
            //                 pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
            //             } else {
            //                 while (leftHeight > 0) {
            //                     pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
            //                     leftHeight -= pageHeight;
            //                     position -= 841.89;
            //                     //避免添加空白页
            //                     if (leftHeight > 0) {
            //                         pdf.addPage();
            //                     }
            //                 }
            //             }
            //
            //             pdf.save("content.pdf");
            //         }
            //     })
            // }

            function test() {
                // console.log(window.location.href);
                // var url = window.location.href;
                var url1 = getQueryVariable("isAuth");
                var img = document.getElementById('sealdiv')
                console.log(url1);
                if ('3' === url1) {
                    img.style.display='block';
                    // createSealEx2()
                }else {
                    img.style.display='none';
                }
                // console.log(url1);
            }

            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return pair[1];
                    }
                }
                return (false);
            }

            test();

            /*印章*/
            function createSealEx2() {
                // var dw = document.getElementById("carriage_name");
                var test = [[${yd}]];
                var mdtext = "专用章";
                var tuzhangdiv = document.getElementById("sealdiv");
                tuzhangdiv.innerHTML = "<canvas id='canvas' width='160' height='160'></canvas>";
                // console.log(dw.innerHTML)
                createSeal11('canvas', test.userCompanyName, mdtext);

            }


            function createSeal11(id, company, name) {

                var canvas = document.getElementById(id);
                var context = canvas.getContext('2d');
                context.imageSmoothingEnabled = true;

                // 绘制印章边框
                var width = canvas.width / 2;
                var height = canvas.height / 2;
                context.lineWidth = 2;
                context.strokeStyle = "#f00";
                context.beginPath();
                context.arc(width, height, 50, 0, Math.PI * 2);
                context.stroke();
                context.save();

                // context.lineWidth = 1;
                // context.strokeStyle = "#f00";
                // context.beginPath();
                // context.arc(width, height, 55, 0, Math.PI * 2);
                // context.stroke();
                // context.save();

                //画五角星
                create5star(context, width, height, 15, "#f00", 0);

                // 绘制印章名称

                context.font = '18px Helvetica';
                context.textBaseline = 'middle';//设置文本的垂直对齐方式
                context.textAlign = 'center'; //设置文本的水平对对齐方式
                context.lineWidth = 1;
                context.fillStyle = '#f00';
                // context.fillText(name, width, height + 43);

                // 绘制印章单位
                context.translate(width, height);// 平移到此位置,
                if (company.length < 12) {
                    context.font = 'bold 16px Helvetica'
                } else if (company.length <= 16) {
                    context.font = 'bold 13px Helvetica'
                } else if (company.length < 18) {
                    context.font = 'bold 11px Helvetica'
                } else {
                    context.font = 'bold 10px Helvetica'
                }
                var count = company.length;// 字数
                var angle = 4 * Math.PI / (3 * (count - 1));// 字间角度
                if (company.length < 18) {
                    angle = 4 * Math.PI / (3 * (count - 1));// 字间角度
                } else {
                    angle = 8 * Math.PI / (5 * (count - 1));// 字间角度
                }

                var chars = company.split("");
                var c;
                for (var i = 0; i < count; i++) {
                    c = chars[i];// 需要绘制的字符
                    if (i == 0) {
                        if (company.length < 18) {
                            context.rotate(5 * Math.PI / 6);
                        } else {
                            context.rotate(21 * Math.PI / 30);
                        }
                    } else {
                        context.rotate(angle);
                    }
                    context.save();
                    if (company.length < 12) {
                        context.translate(42, 0);// 平移到此位置,此时字和x轴垂直
                    } else if (company.length <= 16) {
                        context.translate(42, 0);// 平移到此位置,此时字和x轴垂直
                    } else if (company.length < 18) {
                        context.translate(39, 0);// 平移到此位置,此时字和x轴垂直
                    } else {
                        context.translate(46, 0);// 平移到此位置,此时字和x轴垂直
                    }
                    context.rotate(Math.PI / 2);// 旋转90度,让字平行于x轴
                    context.fillText(c, 0, 5);// 此点为字的中心点
                    context.restore();
                }


            }


            //绘制五角星
            function create5star(context, sx, sy, radius, color, rotato) {
                context.save();
                context.fillStyle = color;
                context.translate(sx, sy);//移动坐标原点
                context.rotate(Math.PI + rotato);//旋转
                context.beginPath();//创建路径
                var x = Math.sin(0);
                var y = Math.cos(0);
                var dig = Math.PI / 5 * 4;
                for (var i = 0; i < 5; i++) {//画五角星的五条边
                    var x = Math.sin(i * dig);
                    var y = Math.cos(i * dig);
                    context.lineTo(x * radius, y * radius);
                }
                context.closePath();
                context.stroke();
                context.fill();
                context.restore();
            }


            function city() {

                var test = [[${yd}]];

                // alert(single.cityExpress)
                // console.log(test.cityExpress)
                //var city = document.getElementById("cityExpress")

                // if ("1" == test.cityExpress) {
                //     // alert('1');
                //     $("#cityExpress").attr("checked", 1);
                // } else {
                //     // alert('2');
                //     $("#cityExpress").removeAttr("checked");
                // }
                var check = document.getElementsByTagName('input')[0];

                if ("1" == test.cityExpress) {
                    // alert('1');
                    // $("#cityExpress").attr("checked", 1);
                    check.checked = true;
                } else {
                    // alert('2');
                    // $("#cityExpress").removeAttr("checked");
                    check.checked = false;
                }
            }

            city();


        </script>

    </body>
</html>